[submodule "ext/gmock-gyp"]
	path = ext/gmock
	url = https://github.com/sfiera/gmock-gyp.git
[submodule "build/lib"]
	path = build/lib
	url = https://github.com/sfiera/gn-tools.git
[submodule "ext/procyon"]
	path = ext/procyon
	url = https://github.com/arescentral/procyon.git
