[submodule "ext/googletest"]
	path = ext/googletest
	url = git://github.com/sfiera/googletest.git
[submodule "ext/googlemock"]
	path = ext/googlemock
	url = git://github.com/sfiera/googlemock.git
[submodule "ext/gyputil"]
	path = ext/gyputil
	url = git://github.com/sfiera/gyputil.git
